.logout {
  color: white !important;
}

.logout:hover {
  background-color: rgb(223, 25, 25) !important;
  transition: 0.8s;
}

.logo {
  font-size: 18px !important;
  color: white !important;
  font-family: "Brush Script MT", cursive !important;
}

.logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.transition {
  transition: all 0.4s ease-in-out !important;
}
